.title {
	font-weight: bold;
	font-size: 30px;
}


.total-box {
    width: 55rem;
    display: inline-block;
}

.center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 20px;
}
#startBtn {
    border: none;
    color: white;
    background-color: #5AAFFF;
    width: 80px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#cardTable {
    border-collapse: collapse;
}

#cardTable td {
    border: 3px solid red;
    width: 145px;
    height: 170px;
    text-align: center;
    cursor: pointer;
}

#cardTable td img {
    max-width: 144px;
}

#cardTable td span {
    font-size: 25pt;
    font-weight: bold;
    color: #5AAFFF;
    display: none;
}

#cardTable2 {
    border-collapse: collapse;
}

#cardTable2 td {
    border: 3px solid blue;
    width: 145px;
    height: 170px;
    text-align: center;
    cursor: pointer;
}

#cardTable2 td img {
    max-width: 144px;
}

#cardTable2 td span {
    font-size: 25pt;
    font-weight: bold;
    color: #5AAFFF;
    display: none;
}

#redTeam {
    background-color: red;
    color: white;
    font-size: 30pt;
	margin: 30px;
}

#blueTeam {
    background-color: blue;
    color: white;
    font-size: 30pt;
	margin: 30px;
}

#info {
    width: 450px;
    height: 250px;
    background-color: #DDDDDD;
    color: white;
    padding-top: 230px;
}

#menuTable {
    width: 864px;
    height: 400px;
    background-color: white;
    color: black;
    padding-top: 0px;
	text-align: center;
} 
